[submodule "src/main/resources/ibex_module/ibex"]
	path = src/main/resources/ibex_module/ibex
	url = https://github.com/lowRISC/ibexc
[submodule "circt"]
	path = circt
	url = https://github.com/shahzaibk23/chisel-circt
